#**/__pycache__
#**/.venv
#**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.github
#**/.project
#**/.settings
#**/.toolstarget
**/.vs
**/.vscode
#**/*.*proj.user
#**/*.dbmdl
#**/*.jfm
#**/bin
#**/charts
#**/docker-compose*
#**/compose*
**/Dockerfile*
#**/node_modules
#**/npm-debug.log
build/
CMakeUserPresets.json
LICENSE.md
README.md
